<%- include('./layout/header.ejs', {doc_title:"Talent"}) %>
<%- include('./layout/nav.ejs') %>
<h2 class='d-flex justify-content-center mt-1 mb-3' style='color:#2d3436'>Groove App</h2>
<body style='background-image: url(https://wallpapercave.com/wp/wp3716563.png);'>
    <div class="container" display="flex">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="background-color: #ced6e0; border-radius: 3%">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Don't miss your favorite shows!</h5>
                        <img src="https://www.freevector.com/uploads/vector/preview/17644/FreeVector-Party-Layout.jpg" alt="" class="img-thumbnail rounded mx-auto d-block">
                        <p class="card-text d-flex justify-content-center">Check out our shows!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: #ced6e0; border-radius: 3%">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Best performers only!</h5>
                        <img src="https://www.freevector.com/uploads/vector/preview/11671/FreeVector-Outdoor-Party.jpg" alt="" class="img-thumbnail rounded mx-auto d-block">
                        <p class="card-text d-flex justify-content-center">Hundreds of professionals are ready.</p>   
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: #ced6e0; border-radius: 3%">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">What are you waiting for?</h5>
                        <img src="https://www.freevector.com/uploads/vector/preview/12509/FreeVector-Party-Crowd.jpg" alt="" class="img-thumbnail rounded mx-auto d-block">
                        <a href="/register" class="card-text d-flex justify-content-center">Register now!</a href="/register" class="">   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <br>
    <br>
        <%- include('./layout/footer.ejs') %>